/*
* The following styles are auto-applied to elements with
* transition="modal" when their visibility is toggled
* by Vue.js.
*
* You can easily play with the modal transition by editing
* these styles.
*/

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	transform: scale(1.1);
}

.modal-close {
	cursor: pointer;

	&:hover {
		color: #000;
	}

	.material-icons {
		display: block;
	}
}

.modal-empty-data {
	padding: 1.5em;
	border-radius: 3px;
	border: 1px dashed #d1d1d1;
}

.modal-loader {
	padding-top: 3em;
	padding-bottom: 3em;
}

.modal-mask {
	display: table;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
	transition: opacity .3s ease;
	z-index: 9998;
}

.modal-mask-composition {
	display: table;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	transition: opacity .3s ease;
	z-index: 9998;
}

.modal-wrapper {
	display: table-cell;
	padding-left: 1em;
	padding-right: 1em;
	vertical-align: middle;

	&.has-scroll {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding-top: 10vh;
		padding-bottom: 10vh;
		overflow-y: auto;
	}
}

.modal-wrapper-full {
	display: table-cell;
	padding-left: 0.5em;
	padding-right: 0.5em;

	&.has-scroll {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		overflow-y: auto;
	}
}

.modal-wrapper-composition {
	display: table-cell;
	padding-left: 1em;
	padding-right: 1em;
	vertical-align: bottom!important;

	&.has-scroll {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding-top: 50vh;
		padding-bottom: 5vh;
		overflow-y: auto;
	}
}

.modal-container {
	margin: 0 auto;
	width: 100%;
	border-radius: 0;
	background-color: #fff;
	// font-family: Helvetica, Arial, sans-serif;
	// box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 2px 4px 0 rgba(0,0,0,0.2);
	transition: all .3s ease;
}

.modal-container-small {
	max-width: 320px;

	.modal-header {
		padding: 10px 16px;
		align-items: center;
		.modal-close {
			.material-icons {
				font-size: 15px;
			}
		}
	}

	.modal-body,
	.modal-footer {
		padding: 22px;
	}
}

.modal-container-small-medium {
	max-width: 450px;
}


.modal-container-medium {
	max-width: 600px;
}

.modal-container-medium-large {
	max-width: 900px;
}

.modal-container-large {
	max-width: 1280px;
}

.modal-container-composition {
	margin: 0 auto;
	max-width: 900px;
	// padding: 1em;
	// background-color: #fff;
	border-radius: 0;
	background-color: #1D1A1B;
	// font-family: Helvetica, Arial, sans-serif;
	// box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 2px 4px 0 rgba(0,0,0,0.2);
	transition: all .3s ease;
}

.modal-container-a4 {
	width: 595px;
	height: 842px;
}

.modal-container-full {
	width: 100%;
	height: 100%;
}

.modal-header {
	padding: 1rem 2rem;
	color: #fff;
	// background-color: $body-bg;
	// background-color: #F5F5F5;
	background-color: #2C96FF;
	border-bottom: 0;
	border-radius: 0;
	h3 {
		margin: 0;
		padding: 0;
		font-size: 1.5rem;
		text-transform: uppercase;

		.material-icons,
		.fa-icon {
			margin-right: .5em;
			font-size: 1.3em;
			vertical-align: middle;
		}

		.fa-icon {
			position: relative;
			top: -3px;
		}

		.text {
			vertical-align: middle;
		}
	}
}

.modal-subheader {
	padding: 1rem 1.5rem;
	background-color: #E4E4E4;

	.search-bar {
		max-width: 175px;
	}
}

.modal-body {
	padding: 1.5rem 2rem;
	overflow-wrap: break-word;

	.tab-content {
		.box {
			padding: 25px;
			border-top-left-radius: 0 !important;
			border-top-right-radius: 0 !important;
		}

		.btn {
			font-size: .9em;
		}

		textarea {
			font-size: .9em;
		}
	}

	.btn {
		min-width: 90px;
	}
}

.modal-footer {
	// text-align: right;
	border-top: 0;
	padding: 1rem 1.5rem;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	justify-content: space-between;

	.btn {
		margin-right: .5em;
		min-width: 90px;

		&:last-child {
			margin-right: 0;
		}
	}

	.btn-icon {
		line-height: 1;
	}
}

@include media-breakpoint-down(sm) {
	.modal-header,
	.modal-body,
	.modal-footer {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.modal-import-box {
	background-color:  transparent;
	border-style: dashed;
	border-color: #F2F2F2;
	width: 100%;
	min-height: 70px;
	border-width: 1.5px;
	position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
}