.vc-chrome-body {
    padding: 16px 16px 12px;
    background-color: white!important;
}
.vc-chrome-fields .vc-input__input {
	font-family: 'Roboto Condensed'!important;
    font-size: 13px!important;
	color: grey!important;
    background-color: white!important;
	
}
.vc-chrome-fields .vc-input__label {
    font-size: 13px;
	font-family: 'Roboto Condensed'!important;
    color: grey!important;
}

.positioning-picker{
	position: absolute;
	right: 0;
	margin-right: 5em;
}